<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Document</title>
</head>

<style>
    .center {
        display: grid;
        place-items: center;
        margin-right: 50px;

    }
    .main{
        margin: 50px 50px;
        
    }

</style>



<body>



    <div class="center">
        
        <div class="main">


    
            {% for group, students in data.items  %}
                <div class="card border-info mb-3" style="max-width: 100%;">
                    <div class="card-header">{{ group }}</div>
                    <div class="card-body">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ФИО</th>
                                {% for day in calendar %}
                                    <th scope="col">{{day}}</th>
                                    
                                {% endfor %}
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for student in students %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{student.name}}</td>
                                {% for day in calendar %}
                                    {% if day in student.att %}
                                        {% for i,j in student.att.items %}
                                            {% if day == i %}
                                                <td>
                                                    {{j}}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                        
                                    {% else %}                                        
                                        <td>--</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            
                            <tr>
                                <th scope="row">3</th>
                                <td>summ</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>